#i1{
    width: 50px;
    height: 50px;
}
#d1{
    background-color: rgba(155,0,157,255);
}
#d2{
    border-style: ridge;
}
#d3{
    border-style: none;
    padding-left: 150px;
    padding-right: 200px;
}
body{
    margin: 0%;
    padding: 0%;
}
#p1{
    color: rgba(255, 255, 255, 0.737);
    text-align: center;
}
#i2{
    width: 240px;
    height: 120px;
}
h3{
    text-align: center;
}
#i3{
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    color: white;
    background-color: rgb(0, 238, 151);
    border-radius: 5px;
    height: 30px;
    width: 75px;
}
#s3{
    background-color: rgba(54,54,54,255);
}
